*.pyc
*.pyo
*~
.hg
.git
.svn
.DS_Store
.settings
.saison
.pydevsaison
.pydevproject
.pydevproject.bak
.installed.cfg
.mr.developer.cfg
bin
develop-eggs
develop-eggs-src
dist
downloads
eggs
parts
build
*.egg-info
*.db
*.egg-info